button {
	&.btn {
		@apply py-1.5 px-4
        bg-blue-400
        hover:bg-blue-500
        text-white
        transition ease-in
        duration-200 text-center text-base
        rounded
        focus:ring-blue-200
        focus:ring-offset-blue-200
        focus:ring-2
        focus:ring-offset-1
        focus:outline-none;
		&.warning {
			@apply focus:ring-offset-yellow-200
            bg-yellow-400
            hover:bg-yellow-500
            focus:ring-yellow-200
            focus:ring-offset-yellow-200;
		}
    &.danger {
			@apply focus:ring-offset-red-200
            bg-red-400
            hover:bg-red-500
            focus:ring-red-200
            focus:ring-offset-red-200;
		}
	}
}
