table {
	thead {
		@apply border-b;
		tr {
			th {
				@apply text-sm font-bold text-gray-900 px-6 py-4 text-left;
			}
		}
	}
	tbody {
		tr {
			@apply last:border-b-0;
			td {
				@apply text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap;
			}
			&:hover {
				a {
					text-decoration: underline;
				}
			}
		}
	}
}
