@import './components/button.scss';
@import './components/form.scss';
@import './components/input.scss';
@import './components/label.scss';
@import './components/select.scss';
@import './components/title.scss';
